.grafico-quadrante-container {
    width: 165px;
    height: 165px;
    margin: 10px 20px 20px 40px;
    position: absolute;
}
.grafico-quadrante {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top: 1px solid #4C607A;
    border-right: 1px solid #4C607A;
}
.grafico-quadrante-linha {
    display: flex;
    flex-direction: row;
}
.bloco-quadrante {
    background-color: #EEF4FC;
    border-bottom: 1px solid #79A1E2;
    border-left: 1px solid #79A1E2;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.legenda-eixoy {
    position: absolute;
    left: -38px;
    top: -5px;
    font: normal normal normal 10px Arial;
    text-align: right;
    height: 100%;
    color: #666666;
}
.item-legenda-eixox {
    position: relative;
    bottom: -50px;
    left: -11px;
    font-size: 10px;
    color: #666666;
    font: normal normal normal 10px Arial;
    width: 0;
}
.bloco-quadrante.clicado {
    background-color: #2678C9;
    border: 0.5px solid white;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.bloco-quadrante span {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    font-size: 11px;
}

.grafico-quadrante-legenda {
    position: relative;
    margin-bottom: -15px;
    margin-right: -10px;
    font-size: 9px;
    color: #666666;
    font: normal normal normal 9px/10px Arial;
}