.grafico-linear-container {
    width: 191px;
    height: 53px;
}
.grafico-linear {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-left: 1px solid #4C607A;
    border-top: 1px solid #4C607A;
    border-right: 1px solid #4C607A;
}
.bloco-quadrante {
    background-color: #EEF4FC;
    border-bottom: 1px solid #79A1E2;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}
.bloco-quadrante:not(:last-child) {
    border-right: 1px solid #79A1E2;
}
.bloco-quadrante.clicado {
    background-color: #2678C9;
}
.bloco-quadrante span {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    font-size: 12px;
}
.grafico-linear-legenda {
    position: relative;
    margin-bottom: -15px;
    margin-right: -10px;
    font-size: 9px;
    color: #666666;
    font: normal normal normal 9px/10px Arial;
}